extends ./layout/main.pug
block link
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
    link(rel="stylesheet", href="/css/swiper-bundle.min.css")
block content
    form(action="/about-animals", method="post")
                input.ai_input_box(placeholder="Animal name",type="text",name="animal")  
              
                input.btn(type="submit", value="submit")
                