extends ./layout/main.pug
block link
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
    link(rel="stylesheet", href="/css/swiper-bundle.min.css")
block content 
     section.home#home
        .row
            .content
                h3(style="margin-top:9rem;") Wild Life 
                    span Overview
            
     section.home#home
        .row
            .content
                p(style="font-size:4rem;") "Untamed Wonders: Discovering the Enigmatic World of Animals"
            .image
                img(src="/img/lion family-bro.svg", alt="")

        hr
        section.home#home
        .row
            .content
                form(action="/animal-details", method="post")
                span(style="font-size:1.5rem") Enter Name
                br
                input(type="text", required, placeholder="Enter Animal Name", maxlength="50", name="name", class="box_animal") 



        
         
         
        
