extends ./layout/main.pug
block link
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
    link(rel="stylesheet", href="/css/swiper-bundle.min.css")
block content 
     section.home#home
        .row(style="margin-top:6rem; margin-bottom:2rem;")
            .content
                h3(style="font-size:10rem;") Why 
                    span Donation
            .image
                img(src="/img/sad.jpg", alt="",style="height:30rem; width:40rem; border-radius:50%; margin-left:25rem; ")
        br
        hr
        iframe.video(width="1100rem" height="400rem" src="https://www.youtube.com/embed/fhkhqdMkx6A?autoplay=1&mute=1" )
        hr
        .row(style="margin-top:6rem; margin-bottom:2rem;")
            .content
                h3(style="font-size:10rem;") Click To 
                    span Donate
            
        ul(style="font-size:1.8rem; margin-left:13rem")
            li Your donation helps protect endangered species and preserve their natural habitats.
            li Act now to save rare animals on the brink of extinction—your support is crucial.
            li We ensure every dollar you donate goes directly towards animal conservation efforts.
            li Join a community of passionate individuals dedicated to protecting wildlife.
            li Your donation supports educational programs that raise awareness about the importance of biodiversity.
            br
            a.btn(href="https://rzp.io/l/BioAnimalia",style="font-size:4rem; margin-left:25rem;") Donate Now

          

            
        
         
         
        
